<<<<<<< HEAD
body{
    background-color: lavenderblush;
    color: palevioletred;
}
h3{
    color: blueviolet;
=======
h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
	line-height: 1;
>>>>>>> 2553a97b570bcebe404e6994e2aec7cdcc119437
}