body{
    background-color: lavenderblush;
    color: palevioletred;
}
h3{
    color: forestgreen;
}
h1 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;
    font-family: 'Chelsea Market', Georgia, serif;
    color: #000;
	line-height: 1;
}
h2 {
	font-size: 40px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
	font-family: 'Chelsea Market', Georgia, serif;
	text-transform: lowercase;
}
h2{
    padding-bottom: 16px;
	padding-left: 34px;

}
body {
	background: url("http://google.com");
	-ms-scrollbar-base-color: pink;
}
body{
	group-reset: h1,h2,h3,h4;
}